#container{
	 box-shadow: 0 0 3px rgba(0,0,0,0.2);
	width:360px;
	margin:100px auto; 
	background-color: #dde0ed;
}
.clicked{
	text-decoration: line-through;
	color: green;
}


h2{
	text-align: center;
	background-color:#2ca6e8;
	color: white;
	margin:0;
	padding: 10px 10px;
	font-weight: normal;
}
ul{
	list-style: none;
	margin:0;
	padding:0;
}
body{
	font-family: 'Source Code Pro', monospace;
	background: #DAD299;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #B0DAB9, #DAD299);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #B0DAB9, #DAD299); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
li{
	background-color: white;
	height: 30px;
	line-height: 30px;
	color: #141010;
}
li:nth-child(2n){
	background-color: #dde0ed;
}
input{
	font-size: 16px;
	background-color:#dde0ed;
	width:100%;
	box-sizing: border-box;
	border:2px solid #dde0ed;
}
input:focus{
	background: #dde0ed;
	border:3px solid #dde0ed;
	outline: none;
}
span{
	background-color: #e74c3c;
	height: 29px;
	margin-right: 20px;
	text-align: center;
	color:white;
	width: 0;
	display: inline-block;
	transition: 0.2s linear;
	opacity: 0;
}
li:hover span{
	width:25px;
	opacity: 1.0;

}